* {
    padding: 0;
    margin: 0;
}
body {
    font-family: system-ui, sans-serif;
}
.container {
    min-height: 100vh;
    padding: 0px 30px;
    background: #000;
}
/* Start header  */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    min-height: 70px;
}
header .logo img {
    width: 40px;
}
header ul li {
    list-style: none;
}
header ul  {
    display: flex;
    gap: 10px;
}
header ul li a {
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-weight: 500;
}
/* Start landing  */
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .text {
    width: 40%;
    color: white;
}
.content .text h2 {
    font-size: 40px;
    text-transform: uppercase;
}
.content .text p {
    margin: 20px 0px;
    font-size: 20px;
}
.content .text a {
    color: white;
    text-decoration: none;
    background: white;
    color: black;
    padding: 8px 15px;
    border-radius: 20px;
    text-transform: capitalize;
}
.content img {
    width: 180px;
}
/* End landing  */
/* Start icons of phone  */
.icons {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.icons .img  {

}
.icons img {
    cursor: pointer;
    width: 40px;
    transition: .3s;
}
.icons img:hover {
    transform: scale(1.2);
}


.icons img:nth-child(1) {
    
    animation: scale 1s ease-in 0s 1;   
}
.icons img:nth-child(2) {
    animation: scale 1s ease-in 1s  1;
    
}
.icons img:nth-child(3) {
    animation: scale 1s ease-in 2s  1;
    
}
.icons img:nth-child(4) {
    
    animation: scale 1s ease-in 3s  1;
}
.icons img:nth-child(5) {
    animation: scale 1s ease-in 4s  1;

}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.icons img.active {

    transform: translateY(-10px) scale(1.2);
}
/* End icons of phone  */


/* for Small Mobile  */

@media (max-width: 575px) {
    header {
        flex-direction: column;
        padding-top: 10px;
    }
    .content img {
        width: 120px;
    }
    .content .text {
        width: 50%;
        padding-top: 60px;
    }
    .content .text h2  {
        font-size: 30px;
    }
    .content .text p  {
        font-size: 16px;
        margin-bottom: 30px;
    }
    body {
        overflow: hidden;
    }
    .icons {
        margin-top: 100px;
    }
}